<div class="container">
<h1 class="indigo-text">Join a Vault</h1>

<!-- Error messages -->
<% if @vault_name_blank %>
  <div>
    <ul>
      <li><%= "No vault name was specified." %></li>
    </ul>
  </div>
<% end %>

<!-- Error messages -->
<% if @vault_does_not_exist %>
  <div>
    <ul>
      <li><%= "There is no vault by the name of <strong>#{params[:name]}</strong>." %></li>
    </ul>
  </div>
<% end %>

<!-- Error messages -->
<% if @existing_user_vault_relation && @existing_user_vault_relation.any? %>
  <div>
    <ul>
      <li><%= "You are already part of the <strong>#{params[:name]}</strong> vault." %></li>
    </ul>
  </div>
<% end %>

<!-- Error messages -->
<% if @invitation_code_incorrect %>
  <div>
    <ul>
      <li><%= "The invitation code <strong>#{params[:password]}</strong> was incorrect." %></li>
    </ul>
  </div>
<% end %>

<form method="post" action="/user/user_vault" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-1">Vault name:</label>
    <div class="col-xs-4">
      <input class="form-control" type="text" name="name">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-1">Invitation code:</label>
    
    <div class="col-xs-4">
      <input class="form-control" type="text" name="password">
    </div>
    <p>(Ask the creator of this vault for the code)</p>
    <br>
  </div>

  <br>
  <div class="form-group">
    <div class="col-sm-10">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </div>
</form>

</div>