      <!-- Dropdown Structure: Add New-->
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="user/photo_post/new">Photo</a></li>
      <li><a href="user/text_post/new">Text</a></li>
      <li class="divider"></li>
      <li><a href="/vault/new">Vault</a></li>
    </ul>

    <!-- Dropdown: Profile & Logout -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>

    <!-- Dropdown: Vaults -->
    <ul id="dropdown3" class="dropdown-content">
      <li><a href="#">All</a></li>
      <li><a href="#">T's family</a></li>
      <li><a href="#">Cousins</a></li>
      <li><a href="#">NEEDS FIXING</a></li>
    </ul>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper indigo accent-2">
          <a href="/user" class="brand-logo">Vaulty</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

          <ul class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown3"><i class="material-icons left">dashboard</i> Your Vaults <i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="/user/user_vault/new"><i class="material-icons left">group_add</i> Join a Vault</a></li>
            <li><a href="/vault/new"><i class="material-icons left">note_add</i> Create New Vault</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left">perm_identity</i> <%= @current_user.name %> <i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>

    <!-- NEED FIX: MOBILE VERSION! -->
    <!--       <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
          </ul> -->
        </div>
      </nav>
    </div>



<div class="container">
<h1 class="indigo-text">Join a Vault</h1>

<form method="post" action="/user/user_vault" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-1">Vault name:</label>
    <div class="col-xs-4">
      <input class="form-control" type="text" name="name">
    </div>
  </div>  

  <div class="form-group">
    <label class="col-sm-1">Invitation code:</label>
    
    <div class="col-xs-4">
      <input class="form-control" type="text" name="password">
    </div>
    <p>(Ask the creator of this vault for the code)</p>
    <br>
  </div>

  <br>
  <div class="form-group">
    <div class="col-sm-10">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </div>
</form>

</div>