<div class="container">

<h1 class="indigo-text">So.. you'd like to add a new post?</h1>

  
    <form method="post" action="/user/text_post">
      <label>Title:</label>
      <input type="text" placeholder="Title" name="title">
      <label>Body:</label>
      <input type="text" placeholder="Tell me something...." name="body">

      <label> Which Vault should it go to?</label>
      <div class="input-field col s12">
      <select name ="vault_id" class="browser-default">
        <% @current_user.vault_ids.each do |id_vault| %>
        <option value="<%= id_vault %>"> <%= Vault.find(id_vault).name %> </option>
        <% end %>
      </select>      
      </div>
      <br><br>

      <div>
      <button type="submit" class="waves-effect waves-light btn"> Add me!</button>
      </div>

    </form>
  
</div>