<div class="container">
<h1 class="indigo-text">Create a New Vault</h1>

<!-- Error messages -->
<% if @vault && @vault.errors.any? %>
  <div>
    <ul>
      <% @vault.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Form -->
<form method="post" action="/vault" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-1">Name your vault:</label>
    <div class="col-xs-4">
      <input class="form-control" type="text" name="name" value="<%= @vault && @vault.name %>">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-1">Set an Invitation Code:</label>
    
    <div class="col-xs-4">
      <input class="form-control" type="text" name="password" value="<%= @vault && @vault.password%>">
    </div>
    <p>(Send this code to family members you would like to invite)</p>
    <br>
  </div>

  <label class="col-sm-1">Set the vault colour:</label>
  <div class="input-field col s12">
    <select name ="color" class="browser-default">
      <option value="pink">Pink</option>
      <option value="purple">Purple</option>
      <option value="indigo">Indigo</option>
      <option value="blue">Blue</option>
      <option value="cyan">Cyan</option>
      <option value="teal">Teal</option>
      <option value="green">Green</option>
      <option value="lime">Lime</option>
      <option value="amber">Amber</option>
      <option value="orange">Orange</option>
      <option value="grey">Grey</option>    
    </select>
  </div>

  <br>
  <div class="form-group">
    <div class="col-sm-10">
      <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </div>
</form>

</div>
