<html lang="en">
<head>
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>Vaulty</title>
</head>

<body class="grey lighten-4">

<div class="container">
  <h1 class="indigo-text">Welcome to Vaulty!</h1>
    <form method="post" action="/user/new" class="form-horizontal">
      <label>Name:</label>
        <input type="text" placeholder="First Last" name="name">
      <label>Email (this will be your login):</label>
        <input type="email" placeholder="email" name="email">
      <label>Password:</label>
        <input type="password" name="password">
      <label>Confirm Password:</label>
        <input type="password" name="password2">
      <br><br>
      <div>
        <button type="submit" class="waves-effect waves-light btn"> Add me!</button>
      </div>
    </form>
</div>