
<body class="indigo">
  <div class="container">
    <div class="center-align">
      <h2 class="white-text">Vaulty</h2>
      <h5 class="white-text">All your memories, stored safely and just one click away.</h5> 
      <br>
      <a class="waves-effect waves-light btn" href="login">Login</a>
    </div>
  </div>
</body>