<h2>Login</h2>

<form action="/login" method="POST" class="form-horizontal"> 
  <div>

    <!-- What does legend do/mean? -->

  <div class="input-field col s6">
    <input type="text" name="email" id="email" class="validate">
    <label for="email">Email</label> 
  </div>

<!--   <div>
    <label>Password:</label>
    <legend for="password"></legend>
    <div>
      <input type="password" name="password">
    </div>
  </div> -->

  <div class="input-field col s6">
    <input type="password" name="password" id="email" class="validate">
    <label for="password">Password</label> 
  </div>

  <div>
   <input class="btn btn-primary" type="submit" value="Submit">
  </div>
</form>