<div class="container">
  <div class="center-align">
    <h2 class="indigo-text">Vaulty</h2>
    <h5 class="indigo-text">All your memories, stored safely and just one click away.</h5> 
  </div>

  <br><br>

  <div class="container">
  <form action="/login" method="POST" class="form-horizontal"> 

    <div class="input-field col s6">
      <input type="text" name="email" id="email" class="validate">
      <label for="email">Email</label> 
    </div>


    <div class="input-field col s6">
      <input type="password" name="password" id="email" class="validate">
      <label for="password">Password</label> 
    </div>

    <div>
     <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </form>
  </div>

</div>