<h1>So.. you'd like to add a new Photo?</h1>
<hr/>

  <form method="post" action="/user/photo_post" enctype='multipart/form-data'>
    <label>Title:</label>
      <input type="text" placeholder="caption" name="caption">
    <label>Body:</label>
         <input type='file' placeholder="Insert URL here... SORTA..." name="file_path">
    <label> Which Vault should this picture go to?</label>
      <select name ="vault_id">
        <% @current_user.vault_ids.each do |id_vault| %>
        <option value="<%= id_vault %>"> <%= Vault.find(id_vault).name %> </option>
        <% end %>
    </select>

    <button type="submit"> Add me!</button>
  </form>