<div class="container">

<h1 class="indigo-text">So.. you'd like to add a new Photo?</h1>

  <form method="post" action="/user/photo_post" enctype='multipart/form-data'>
    <label>Title:</label>
    <input type="text" placeholder="caption" name="caption">

    <label>Body:</label>
    <input type='file' name="file_path">
    <br>
    <label> Which Vault should this picture go to?</label>
    <div class="input-field col s12">
      <select name ="vault_id" class="browser-default">
        <% current_user.vault_ids.each do |id_vault| %>
        <option value="<%= id_vault %>"> <%= Vault.find(id_vault).name %> </option>
        <% end %>
      </select>
    </div>

    <br><br>

    <button type="submit" class="waves-effect waves-light btn"> Add me!</button>
  </form>

</div>